#header {width:100%;height:120px;font-size:18px;    position: relative; z-index: 1;}
#header.fixed {position: fixed!important;top:0;z-index: 10!important;background-color:rgba(255,255,255,0.85)}

#header .header_inner {max-width: 1800px;margin:auto;position: relative;height:100%;width:100%;}
#header .header_inner ul {font-size:0;text-align:right}
#header .header_inner ul li {display:inline-block;font-size:18px;font-weight: 700;color:#000;padding:0 40px;position: relative;}
#header .header_inner ul li:after{content:"";width:6px;height:5px;border-radius: 50%;position: absolute;right:0;top:50%;margin-top:-3px;background-color: #098648;}
#header .header_inner ul li:last-of-type {padding-right:0;}
#header .header_inner ul li:last-of-type:after{content:none;}
#header .header_inner ul li a {color:inherit;}
#header .header_inner ul li.on a {color:#098648;}
#header .header_inner ul li:hover a{color:#098648;}
#header h1.logo {position: absolute;font-size: 0;top:35px;width:155px;height:71px;background-repeat: no-repeat;background-image: url(../images/common/logo.png);}
#header h1.logo a {display: block;height:155px;height:71px;}
#header .gnb_wrap {display:table;height:100%;width:100%;}
#header .gnb_wrap #gnb {display: table-cell;vertical-align: middle;}
.gnb_wrap #ghb {display: table-cell;vertical-align: middle;}
#footer .footer_inner {max-width:1800px;margin:auto;padding-top:17px;padding-bottom:10px;text-align: right;width:100%;}
#footer .footer_info {margin-top:10px;}
#footer .footer_info p {color:#898989;font-size:16px;line-height: 23px;;}
#footer .footer_info p.biz_contact {font-size:14px;}
#footer .footer_info p strong {color:#1cab70;font-weight:800;padding:0 6px 0 12px;}
#footer .footer_info p strong:first-of-type {padding-left:0;}
/* tab */
.tab ul {font-size:0;text-align: center;}
.tab ul li {display:inline-block;width:200px;height:60px;line-height:60px;border-radius: 30px;font-size:20px;margin-left:30px;color:#8b8b8b;font-weight: normal;vertical-align: top;}
.tab ul li:first-child{margin-left:0;}
.tab ul li a {display:block;color:inherit;}
.tab ul li.on {color:#fff;background-color: #1cab70;font-weight: 700;;}

@media only screen and (min-width : 0px) and (max-width : 1800px) {

#header .header_inner {padding-left:20px;padding-right:20px;    box-sizing: border-box;}

}